<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Mobile Angular UI Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" href="demo.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="dist/js/mobile-angular-ui.min.js"></script>
    <!-- Required to use $touch, $swipe, $drag and $translate services -->
    <script src="dist/js/mobile-angular-ui.gestures.min.js"></script>
    <script src="plugin/lz-string.min.js"></script>
    
</head>

<body ng-app="OSPLGmSys" ng-controller="registerController" ui-prevent-touchmove-defaults>
    <div ui-content-for="title">
        <span>Register</span>
    </div>

    <div class="scrollable">
        <div class="scrollable-content section">

            <form role="form" name="editForm" ng-submit='register(editForm)'>
                <fieldset>
                    <legend>Register</legend>
                    <div class="form-group has-success has-feedback">
                        <label>User Id</label>
                        <input name="userId" type="text" name="userId" ng-required="true" ng-model="entity.userId" class="form-control" placeholder="Enter User Id">
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" ng-required="true" class="form-control" placeholder="Password" ng-model="entity.password">
                    </div>

                    <div class="form-group">
                        <label>Corporate Id</label>
                        <input type="text" name="corpoId" ng-required="true" class="form-control" placeholder="Corporate Id" ng-model="entity.corporateId">
                    </div>

                    <div class="form-group has-success has-feedback">
                        <label>Mobile No</label>
                        <input type="text" name="mobileNo" ng-required="" ng-model="entity.mobileNo" class="form-control" placeholder="Enter Mobile No">
                    </div>

                    <div class="form-group">
                        <label>Login PIN</label>
                        <input type="password" name="loginPIN" ng-required="" class="form-control" placeholder="Login PIN" ng-model="entity.loginPIN" maxlength="4">
                    </div>

                    <div class="form-group">
                        <label>Confirm PIN</label>
                        <input type="text" name="confirmPin" ng-required="true" class="form-control" placeholder="Confirm PIN" ng-model="entity.confirmPIN"
                            maxlength="4">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Register
                    </button>
                    <a class="btn btn-danger btn-block" href="auth.html">Login</a>
                </fieldset>
                <div ui-content-for="navbarAction">
                </div>
            </form>
        </div>
    </div>

    <div ui-yield-to="modals"></div>

    <script src="app.js"></script>
    <script src="common/directive.js"></script>
    <script src="common/interceptor.js"></script>
    <script src="common/pageService.js"></script>

    <script src="register.js"></script>
</body>

</html>